<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>anchor tags</title>
</head>
<body>
    <a href="https://www.google.co.in/">google</a>
    <br>
    <a href="https://www.instagram.com/">instgram</a>
    <br>
    <a href="https://www.facebook.com/">facebook</a>
    <br><hr>
    <a href="https://www.flipkart.com/">flipkart</a>
    <br>
    <a href="https://www.youtube.com/">youtub</a>
    <br>
    <a href="https://www.amazon.in/s?k=flipkart&adgrpid=1326012633048780&hvadid=82876055231412&hvbmt=be&hvdev=c&hvlocphy=157647&hvnetw=o&hvqmt=e&hvtargid=kwd-82876681051014%3Aloc-90&hydadcr=15412_2338239&msclkid=834ee05d453e16b031bd86287bd911b3&tag=msndeskstdin-21&ref=pd_sl_8mpp1ql5l2_e">amazon</a>    
</body>
</html>