<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>br tag</title>
</head>
<body>
    <p>this is the first paragraph
        this is the second paragraph
    </p>
    <p>
        this is the third line <br>
        this is the fourth line
    </p>
    <p>
        If you want to add line breaks within paragraphs or between them in HTML <br> <br> you can use the  tag. Here's an example <br> of how you can structure <br> your HTML to include multiple paragraphs <br><br><br> with line breaks.
    </p>
</body>
</html>