<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="#">
</head>
<body>
    <header>
        <h1> welcome to my website</h1>
    </header>
    <nav>
        <ul>
            <li><a href="#">link 1</a></li>
            <li><a href="#">link 2</a></li>
            <li><a href="#">link 3</a></li>
        </ul>
    </nav>
    <menu>
        <section>
            <h2>section title</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quaerat laudantium ex dignissimos ab. Architecto, excepturi explicabo vero facere quasi error nam eveniet minus nobis hic dolore praesentium in! Non, voluptatibus.</p>
        </section>
    </menu>
    <footer>
        <p>&copf; 2024 your name</p>
    </footer>
</body>
</html>