<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>html comments</title>
</head>

<body>
    <h1>I am learning with Prashant sir</h1>
    <p>Emmet is a plugin for many popular text editors that provides shorthand syntax for generating HTML and CSS code quickly. Heres how you can use Emmet to generate boilerplate HTML code. Emmet syntax expands abbreviations into full-fledged HTML tags, saving you a lot of typing</p>

     <!-- this is comment code -->
          <!-- <h2>I am learning with Prashant sir</h2> -->
          <!-- <p>Emmet is a plugin for many popular text editors that provides shorthand syntax for generating HTML and CSS code quickly. Here how you can use Emmet to generate boilerplate HTML code. Emmet syntax expands abbreviations into full-fledged HTML tags, saving you a lot of typing</p> -->

</body>

</html>
