<!DOCTYPE html>
<html lang="en">
<head>
    <title>input types</title>
</head>
<body>
    <form action="/contact-me">
        Text :  <input type="text"><br>
        Password:<input type="password"><br>
        Date: <input type="date"><br>
        Radio: <input type="radio"><br>
        Checkbox:<input type="checkbox"><br>
        Email: <input type="email"><br>
        File:<input type="file"><br>
        Number: <input type="number"><br>
        Search: <input type="seacrch"><br>
        phoneno: <input type="tel"><br>
        Time: <input type="time"><br>
        Reset:<input type="reset"><br>
        Url: <input type="url"><br>
        Color:<input type="color"><br>
        Range: <input type="range"><br>
        poke me:<input type="button" value="poked"><br>
        Submit:<input type="submit"><br>
    </form>
</body>
</html>