<!DOCTYPE html>
<html lang="en">

<head>
    <title>label tags</title>
</head>

<body>
    <form action="/contact-me">
        <label for="email">User Name:</label>
        <input type="text" id="email" placeholder="email" required="true">
        <br>
        <label for="user_password">password:</label>
        <input type="password" id="user_password" placeholder="password" required="true">
        <br>
        <input type="button" value="submit">
    </form>
        <br><hr><br>
            <form action="">
                Text: <input type="text"><br>
                password: <input type="password"><br>
                Date: <input type="date"><br>
                <input type="submit">
            </form>
        <br><hr><br>
            <form action="">
                Text: <input type="text"><br>
                password: <input type="password"><br>
                Date: <input type="date"><br>
                File: <input type="file"><br>
                <input type="submit">
            </form>
</body>

</html>