<!DOCTYPE html>
<html lang="en">
<head>
    <title>radio</title>
</head>
<body>
    <form action="radio.html">
        <label>Male</label>
        <input type="radio" name="male" value="male"><br>
        <label>Female</label>
        <input type="radio" name="female" value="female"><br>
        <label>Others</label>
        <input type="radio" name="others" value="others">
    </form>
    <br><h><br>
    <form action="radio.html">
        <label for="male">Male:</label>
        <input type="radio" id="male" name="gender" value="male" ><br>
        <label for="female">Female:</label>
        <input type="radio" id="female" name="gender" value="female"><br>
        <label for="others">Others:</label>
        <input type="radio" id="others" name="gender" value="others">
    </form>
</body>
</html>