<!DOCTYPE html>
<html lang="en">

<head>
    <title>iframe tag</title>
</head>

<body>youtube
    <iframe width="300" height="315" src="https://www.youtube.com/embed/x372RBx-P2k?si=MmGLNuK7GDDvfuq3" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    wikipedia
    <iframe src="https://www.wikipedia.org/" width="300" height="310"></iframe>
    facebook
    <iframe src="https://www.facebook.com/" width="200" height="315" frameborder="0"></iframe>
    google
    <iframe src="https://www.google.com/" width="192" height="315" frameborder="0"></iframe>
    location
    <iframe id="inlineFrameExample" title="Inline Frame Example" width="350" height="200" src="https://www.openstreetmap.org/export/embed.html?bbox=-0.004017949104309083%2C51.47612752641776%2C0.00030577182769775396%2C51.478569861898606&layer=mapnik"></iframe>
</body>

</html>