<!DOCTYPE html>
<html lang="en">

<head>
    <title>Table tags</title>
</head>

<body>
    <table border="2">
        <caption>Technologies</caption>
        <tr>
            <th colspan="3">Tech i am good at</th>
        </tr>
        <tr>
            <th>Language</th>
            <th>Competecy</th>
            <th>Years</th>
        </tr>
        <tr>
            <td>C</td>
            <td>5/10</td>
            <td>10 years</td>
        </tr>
        <tr>
            <td>Java</td>
            <td>8/10</td>
            <td>9 years</td>
        </tr>
        <tr>
            <td>Python</td>
            <td>9/10</td>
            <td>5 years</td>
        </tr>
    </table>
    <hr>
    <table border="5">
        <th colspan="4">Student Table</th>
        <tr>
            <th>SI</th>
            <th>NAME</th>
            <th>Gender</th>
            <th>MARKS</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Ashok</td>
            <td>male</td>
            <td>7/10</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Ramya</td>
            <td>female</td>
            <td>7.5/10</td>
        </tr>
        <tr>
            <td>3</td>
            <td>Rajani</td>
            <td>female</td>
            <td>8/10</td>
        </tr>
        <tr>
            <td>4</td>
            <td>Naveen</td>
            <td>male</td>
            <td>6/10</td>
        </tr>
    </table>
</body>

</html>