<!DOCTYPE html>
<html lang="en">

<head>
    <title>navigation tag</title>
</head>

<body>
    <nav>
        <a href="#">Home</a><br>
        <a href="#">About</a><br>
        <a href="#">Services</a><br>
        <!-- <a href="#">Contact</a> -->
    </nav>
    <header>
        <nav>
            <a href="#content">Content</a>
        </nav>
    </header>
    <main>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus sapiente incidunt quam sit iste porro
            voluptatum error reprehenderit exercitationem veniam doloremque totam dolores, iusto aliquid corrupti qui
            eum sint excepturi quos! Tempore, quis aspernatur, facere vitae quaerat ad nam deserunt tenetur velit eaque,
            nihil accusamus amet. Dignissimos vel laudantium inventore culpa voluptas vero beatae quam omnis nihil amet
            animi praesentium voluptatem deleniti, minus et quod facilis quos iusto quis ullam. Repellendus ex obcaecati
            vero illum quibusdam. Hic, autem. Dolore impedit consequatur blanditiis placeat et distinctio officiis quia
            consectetur tenetur magni. ipsum dolor sit, amet consectetur adipisicing elit. Eveniet voluptates laboriosam
            delectus quisquam iste praesentium eum, esse minus corporis unde vero ut, molestiae accusamus eligendi?
            Nobis saepe nostrum ab quam perferendis architecto officiis expedita id ipsam beatae ex, culpa provident
            recusandae esse earum nemo ullam eaque asperiores minus, dolorum perspiciatis. Ipsam laudantium voluptatem
            autem architecto possimus nostrum necessitatibus harum excepturi at exercitationem eum, natus culpa non.
            Tempora itaque exercitationem a dignissimos quam nihil, repellendus iste dicta laborum maxime quisquam fuga
            animi veniam aut at nesciunt dolores. Officiis est voluptates corrupti. ipsum dolor sit, amet consectetur
            adipisicing elit. non eveniet consectetur recusandae corporis officia veritatis tempore voluptatibus ratione reiciendis
            perspiciatis odio exercitationem placeat ipsam iusto provident! Eaque cupiditate eius dolores omnis soluta
            repudiandae enim perferendis hic est, nemo, quo eligendi. Quasi, earum. Illo rem quam, odio in consequatur
            sapiente? Iure eum veritatis rem quibusdam impedit sequi molestiae ipsa a, eius odio illo animi delectus
            deserunt, autem dolorum ad natus voluptas omnis. Officia, quibusdam provident. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Quis sequi illum cum voluptate, deleniti veniam magnam expedita soluta aliquam distinctio libero ullam alias voluptatum necessitatibus quae reprehenderit officia eveniet.</p>
        <p id="content">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit cumque assumenda provident saepe
            temporibus molestias vero beatae totam natus architecto mollitia perspiciatis velit ipsum at in
            reprehenderit, aliquam rem odio.</p>
    </main>
</body>

</html>