<!DOCTYPE html>
<html lang="en">
<head>
    <title>section</title>
</head>
<body>
    <header>This is header</header>
    <main>
        <section>
            <h2>Admissions</h2>
            admissions will be start soon
        </section>
        <section>
           <h2>placement </h2>
        </section>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse, magni officia eum laboriosam voluptates cumque distinctio harum voluptate id nihil repellendus quae repellat, autem illo, reiciendis similique ipsam recusandae minus.</p>
    </main>
    <hr>
    <main>
        <section>Technologies:HTML/CSS</section>
        <section>Courses:OS/DBMS</section>
        <section>Hobbies:Eating</section>
    </main>
</body>
</html>